body {
	background: linear-gradient(to bottom right, #F05F57, #360940) fixed;
}

#header {
	color: #2E2E2E;
	text-align: center;
}

#content {
	color: #2E2E2E;
	text-align: left;
	padding: 100px;
}

#sec1 {
	width: 500px;
	float: left;
}

#sec2 {
	width: 200px;
	float: right;
	padding-right: 200px;
	text-indent: 0px;
}

p {
	height: 50px;
}